body {
    font-family: "Open Sans";
    margin-top: 280px;
    text-align: center;
    color: black;
  }
  
  #clock {
    font-weight: 300px;
    font-size: 140px;
  }

.new {
  color: aqua;
  font-size: 55px;
  text-align: left;
  z-index: 10;
}